
/* JM icon */
.icon-description {
  font-size: 12px;
  /* margin-top: 1px; /* image and description space */
  /* position: absolute; */
  /* bottom: 1px; /* Adjust this to position the text vertically as you like */
  /* left: 50%; */
  /* transform: translateX(-50%); /* Center the text horizontally */
  color: #1E4F91; /* Make the text white to contrast with the image */
  text-shadow: 1px 1px 1px rgb(24, 18, 82); /* Add a shadow for better readability */
  width: 40%;
  /* text-align: center; */
  /* display: inline-block; */
}

/*JM icon image*/
.icon-image {
  max-height: 100px;
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

/*JM icon cont*/
.icon-container {
  flex: 0 0 auto;  /* This ensures each child doesn't grow or shrink but stays at its default size */
  text-align: center;
  margin: 0px;
}

.software-links-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  // This ensures items wrap to the next line if they run out of space
}
 

.software-links-container .icon-container, 
.software-links-container .icon-container * {
    padding: 0px;
    margin: 0;
    text-align: center;
    margin-bottom: 5px;
}


/* JM added to line break with iphones */
@media (max-width: 768px) {
  .navbar-brand {
    white-space: normal; /* Allow wrapping for the title */
  }
}

/* shadow for all images */
img {
  box-shadow: 6px 6px 15px rgba(48, 82, 167, 0.225);
}

/* 0px 8px 15px rgba(48, 82, 167, 0.225); */

img.no-shadow {
  box-shadow: none;
}

/* JM trying to set different background and font colors */
body {
    background-color: #FFFFFF; /* Replace with your desired color */
    color: #1E4F91; /* Replace with your desired font color */
}

.jumbotron {
  background-color: #FFFFFF;  // White background
}


.custom-news-font {
  font-size: 0.5rem; /* Adjust the font size as needed */

}

.jumbotron-clear {
  padding: 0;               // Removes padding
  margin-bottom: 0;        // Removes bottom margin
  background-color: transparent;
  border-radius: 0.1rem;
  font-size: 0.1rem;
}


.jumbotron-thin {
  padding: 0.1rem 0.1rem;
  margin-bottom: 0.1rem;
  background-color: #303030;
  border-radius: 0.1rem;
  font-size: 0.1rem; /* Adjust the font size as needed  added important tag */
}

/*
.jumbotron {
padding: 2rem 1rem;
margin-bottom: 2rem;
background-color: #303030;
border-radius: 0.3rem;
}
*/
.jumbotron-sm {
  font-size: 0.5rem; /* Adjust the font size as needed  added important tag*/
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #303030;
  border-radius: 0.3rem;
}



/* Below rounds corners of link icons, e.g. radius 10% */
img { 
    border-radius:0%;
}


.jumbotron {
    padding:20px; 
    padding-bottom:7px; 
    margin-top:22px; 
    margin-bottom:22px;
    font-size: 01rem; /* Adjust the font size as needed  added important tag*/
}

.jumbotron-thin {
  padding:20px; 
  padding-bottom:7px; 
  margin-top:22px; 
  margin-bottom:22px;
  // font-size: 0.8rem; /* Adjust the font size as needed  added important tag*/
}


.jumbotron-sm {
  font-size: 0.5rem; /* Adjust the font size as needed  added important tag*/
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #303030;
  border-radius: 0.3rem;
}

/*
.navbar {
  margin-bottom: 20px;
  border-bottom: 4px solid var(--secondary);
}
*/

.navbar {
  min-height: 150px;  
  background-image: url('/images/background-lung-m80.jpg');
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 8px 15px rgba(48, 82, 167, 0.225);  /* Adjust values to your liking */
}


.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-fluid {
  max-width: 800px;
}

.container-footer {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  padding-left:  -15px;
  padding-right: -15px;
}

.well-collapse {
  padding-left:  20px;
  padding-right: 20px;
  padding-top:   12px;
  padding-bottom: 4px;
  border-radius:  7px;
  min-height:     1px;
  margin-top:    15px;
  color: black;
  background-color: var(--gray);
  border: 2px solid var(--gray-dark);
  blockquote {
    border-color: var(--gray-dark);
    border-color: rgba(0,0,0,.15);
  }
}


.embed-container-home {
  position: relative;
  padding: 0px;
  margin: 0px;
  // width: 435px;
  // height: 150px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url($baseurl + "/images/thumbs/3dtrain.jpeg");
}

.embed-container {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 175px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  // margin-left:7px;
  // border: 1px solid red;

.embed-container-spleen {
  height: 155px;
  background-image: url($baseurl + "/images/thumbs/spleen.jpg");
}

.embed-container-leuk {
  height: 112px;
  background-image: url($baseurl + "/images/thumbs/spleen.jpg");
}
