
.custom-news-font {
    font-size: 0.5rem; /* Adjust the font size as needed */
  
  }

.jumbotron-sm {
    font-size: 0.5rem; /* Adjust the font size as needed  added important tag*/
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #303030;
    border-radius: 0.3rem;
  }


  <div class="col-sm-4">
  <h5>Contact</h5>	
      <p>{{ site.contact }}</p>
</div>
